body{
    background-color: coral;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
   
}
h1{
    font-size: 30px;
    border-style: dashed;
    border-color: black;
    padding-top: 0px;

}
div{
    text-align: center;
    border-style: dashed;
    border-color: black;
    width: 500px;
    background-color: chocolate;
}
ul{
    list-style-type: none;
    font-size: 16px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: center;

}
li::first-letter{
font-size: 18px;
font-weight: 800;
}